body{
    padding: 0;
    margin: 0;
    width: 100%;
    /* background-image: url("https://t3.ftcdn.net/jpg/01/05/45/48/360_F_105454878_wG7AhrNV68aLaWYqk35CaFuNCHooy8uk.jpg"); */
    background-attachment: scroll;
}

.header{
    position: sticky;
    background-color: #e7e4e4;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0.5px;
    height:auto;
    margin: 0;
    margin-bottom: 30px;
    z-index:999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
    will-change: opacity, visibility;
}
.header-logo{
    width: 163px;
    height:86px;
}

.logo-text{
    display: inline-block;
    padding: 0px 26px 0px 0px ;
    margin:0;
    font-size: 26px;
    font-family: 'Noto Nastaliq Urdu', serif;
}

.logo-text::after{
    content: 'للمنظفات الصناعية';
    position: relative;
    font-size: 20px;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Noto Nastaliq Urdu', serif;
    transition-property:background-color, color ;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #adacac;
    color: black;
}


.main-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity .7s ease-in-out;
    will-change: opacity, visibility;
}



.item{
    background-color: white;
    align-items:center;
    width: auto;
    height: 786px;
    margin: auto;
    margin: 20px auto 20px auto ;

}

.item-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.item-name{
    text-align: center;
    overflow: hidden;
    margin-left:auto;
    font-size: 46px;
}

.item-price{
    text-align: center;
    overflow: hidden;
    margin-left:auto;
}
.item-price::after{
    content:'EGP';
    position: absolute;
    font-size: 10px;
}

@media (max-width: 700px) {
    .item-name{
        font-size: 26px;
    }
}


footer{
    display: block;
    background-color:black;
    height:100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out;
    will-change: opacity, visibility;
}

.right-page-btn{
    width: 100px;
    height: 100px;
    position: fixed;
    right: -8px;
    top: 454px;
    z-index: 999;
}

.right-page-btn a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;
    background-image: url("https://static.thenounproject.com/png/1256404-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:80px;
    transition-property:box-shadow ;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

}


.right-page-btn a:hover{
    box-shadow: 0px 0px 10px;
}


.left-page-btn{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 3px;
    top: 454px;
    z-index: 999;
}


.left-page-btn a {
    rotate: 180deg;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;
    background-image: url("https://static.thenounproject.com/png/1256404-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:80px;
    transition-property:box-shadow ;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

}


.left-page-btn a:hover{
    rotate: 180deg;
    box-shadow: 0px 0px 10px;
}

/* Scrollbar behavior */
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar {
    background: transparent;
}